# Mac固有ファイル
.DS_Store

# ログファイル
logs/

# モデルの重いファイル
model/label_encoder.pkl
model/model_output/model.safetensors

# 仮想環境（誤って追加している場合に備えて）
.venv/
env/

# メモ用フォルダ（必要でなければ）
notes/

# Pythonキャッシュなど
__pycache__/
*.pyc