streamlit==1.47.0
torch==2.7.1
transformers==4.53.2
huggingface-hub==0.33.4
numpy==2.3.1
pandas==2.3.1
joblib==1.5.1
scikit-learn==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
regex==2024.11.6
tokenizers==0.21.2
